extends layout

block content
    link(rel='stylesheet', href='/css/style_cart.css')
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between
                    a.text-nowrap.logo-img(href='/stech.manager/home')
                        img(src='/images/logos/logo.jpeg' width='180' alt='')
                    #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Home
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                span
                                    i.ti.ti-layout-dashboard
                                span.hide-menu Dashboard
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Manager
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                span
                                    i.ti.ti-brand-producthunt
                                span.hide-menu Product
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                span
                                    i.ti.ti-category
                                span.hide-menu Category
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                span
                                    i.ti.ti-shopping-cart
                                span.hide-menu Cart
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                span
                                    i.ti.ti-message-chatbot
                                span.hide-menu Chat
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                span
                                    i.ti.ti-notification
                                span.hide-menu Notification
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/user' aria-expanded='false')
                                span
                                    i.ti.ti-cards
                                span.hide-menu User
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Order
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/banner' aria-expanded='false')
                                span
                                    i.ti.ti-file-import
                                span.hide-menu Banner
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu AUTH
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/login' aria-expanded='false')
                                span
                                    i.ti.ti-login
                                span.hide-menu Login
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/register' aria-expanded='false')
                                span
                                    i.ti.ti-user-plus
                                span.hide-menu Register
                // End Sidebar navigation
            // End Sidebar scroll
        // Sidebar End
        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item.d-block.d-xl-none
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    #navbarNav.navbar-collapse.justify-content-end.px-0
                        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                            li.nav-item.dropdown
                                a#drop2.nav-link.nav-icon-hover(href='javascript:void(0)' data-bs-toggle='dropdown' aria-expanded='false')
                                    img.rounded-circle(src='/images/logos/logo.jpeg' alt='' width='35' height='35')
                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                    .message-body
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='/stech.manager/profile')
                                            i.ti.ti-user.fs-6
                                            p.mb-0.fs-3 My Profile
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-mail.fs-6
                                            p.mb-0.fs-3 My Account
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-list-check.fs-6
                                            p.mb-0.fs-3 My Task
                                        a.btn.btn-outline-primary.mx-3.mt-2.d-block(href='./authentication-login.html') Logout
            // Header End
            .container-fluid
                .container.px-3.my-5.clearfix
                    .card
                        .card-header
                            input.form-control(type='text', placeholder='Search...')
                        .card-body
                            .table-responsive
                                table.table.table-bordered.m-0
                                    thead
                                        tr
                                            th
                                            th.text-center.py-3.px-4(style='min-width: 400px;') Product
                                            th.text-right.py-3.px-4(style='width: 100px;') Price
                                            th.text-center.py-3.px-4(style='width: 120px;') Quantity
                                            th.text-right.py-3.px-4(style='width: 100px;') Total
                                            th.text-center.align-middle.py-3.px-0(style='width: 40px;')
                                                a.shop-tooltip.float-none.text-light(href='#' title='' data-original-title='Clear cart')
                                                    i.ino.ion-md-trash
                                    tbody
                                        if carts
                                            each cartProduct in carts.product
                                                //if itemcart.productId
                                                tr
                                                    td(style='text-align: center')
                                                        input#quantity(type='checkbox' class='product-checkbox' data-price=cartProduct.price data-quantity=cartProduct.quantity)
                                                    // Hiển thị thông tin sản phẩm trong giỏ hàng

                                                    td.p-4

                                                        .media.align-items-center
                                                            img#imgCoverUp.d-block.ui-w-40.ui-bordered.mr-4(src=cartProduct.imgCover alt='')
                                                            .media-body
                                                                a#titleUp.d-block.text-dark= cartProduct.title
                                                                small
                                                                    span.text-muted Color:
                                                                    i#colorUp.list-inline-item(style=`background-color: ${cartProduct.color}; width: 20px; height: 20px; display: inline-block; vertical-align: middle; border-radius: 50%;`)
                                                                    span#ram_romUp.text-muted Option:
                                                                    = cartProduct.ram_rom
                                                    td#priceUp.text-right.font-weight-semibold.align-middle.p-4= cartProduct.price
                                                    td.align-middle.p-4
                                                        input#quantityUp.form-control.text-center(class='quantity-checkbox' type='number' data-id=cartProduct._id data-price=cartProduct.price name='quantity' min='1' value=`${cartProduct.quantity}`)
                                                        button.btn.btn-sm.btn-primary.save-btn( id='save' data-id=cartProduct._id) Lưu
                                                    td#total.text-right.font-weight-semibold.align-middle.p-4(class='total-checkbox' data-id=cartProduct._id data-value=cartProduct.quantity * cartProduct.price) #{cartProduct.quantity * cartProduct.price}
                                                    td.text-center.align-middle.px-0
                                                        a.shop-tooltip.close.float-none.text-danger(href='#' title='' data-original-title='Remove') &times;
                                //h4#total-display.text-right.font-weight-semibold.align-middle.p-4 tổng tiền:
                                h4.mt-3 Tổng tiền:
                                    span.ms-2#total-display
                            .float-end
                                button.btn.btn-lg.btn.btn-success.mt-2(type='button') Oder
        script(src='/js/cart.js')