extends layout

block content
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
    link(rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css')
    link(rel='stylesheet' href='/css/style_chat.css')
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between
                    a.text-nowrap.logo-img(href='/stech.manager/home')
                        img(src='/images/logos/logo.jpeg' width='180' alt='')
                    #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Home
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                span
                                    i.ti.ti-layout-dashboard
                                span.hide-menu Dashboard
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Manager
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                span
                                    i.ti.ti-brand-producthunt
                                span.hide-menu Product
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                span
                                    i.ti.ti-category
                                span.hide-menu Category
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                span
                                    i.ti.ti-shopping-cart
                                span.hide-menu Cart
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                span
                                    i.ti.ti-message-chatbot
                                span.hide-menu Chat
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                span
                                    i.ti.ti-notification
                                span.hide-menu Notification
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/user' aria-expanded='false')
                                span
                                    i.ti.ti-cards
                                span.hide-menu User
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Order
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/banner' aria-expanded='false')
                                span
                                    i.ti.ti-file-import
                                span.hide-menu Banner
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu AUTH
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/login' aria-expanded='false')
                                span
                                    i.ti.ti-login
                                span.hide-menu Login
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/register' aria-expanded='false')
                                span
                                    i.ti.ti-user-plus
                                span.hide-menu Register
                // End Sidebar navigation
            // End Sidebar scroll
        // Sidebar End
        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item.d-block.d-xl-none
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    #navbarNav.navbar-collapse.justify-content-end.px-0
                        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                            li.nav-item.dropdown
                                a#drop2.nav-link.nav-icon-hover(href='javascript:void(0)' data-bs-toggle='dropdown' aria-expanded='false')
                                    img.rounded-circle(src='/images/logos/logo.jpeg' alt='' width='35' height='35')
                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                    .message-body
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='/stech.manager/profile')
                                            i.ti.ti-user.fs-6
                                            p.mb-0.fs-3 My Profile
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='')
                                            i.ti.ti-mail.fs-6
                                            p.mb-0.fs-3 My Account
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-list-check.fs-6
                                            p.mb-0.fs-3 My Task
                                        a.btn.btn-outline-primary.mx-3.mt-2.d-block(href='./authentication-login.html') Logout
            // Header End
            .container-fluid
                .page-content
                    .container.mt-5
                        .row
                            .col-md-4.col-12.card-stacked
                                .card.shadow-line.mb-3.chat
                                    .chat-user-detail
                                        .p-3.chat-header
                                            .w-100
                                                .d-flex.pl-0
                                                    .d-flex.flex-row.mt-1.mb-1
                                                        span.margin-auto.mr-2
                                                            a.user-undetail-trigger.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                                svg.feather(viewBox='0 0 24 24', width='18', height='18', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                                    polyline(points='15 18 9 12 15 6')
                                                        |
                                                        p.margin-auto.fw-400.text-dark-75
                                                            | Profile
                                                    |
                                                    div
                                        |

                                        .p-3.chat-user-info
                                            .card-body.text-center
                                                a(href='#!')
                                                    img.rounded-circle.img-fluid.shadow.avatar-xxl(src=`${userLoged.avatar}`)
                                                |
                                                .pt-4.text-center.animate4
                                                    h6.fw-300.mb-1 #{userLoged.full_name}
                                                    |
                                                    p.text-muted #{userLoged.email}
                                                    |
                                                    .mt-4
                                                        a.btn.btn-light-skype.btn-icon.btn-circle.btn-sm.btn-shadow.mr-2(href='#')
                                                            i.bx.bxl-skype
                                                        |
                                                        a.btn.btn-light-facebook.btn-icon.btn-circle.btn-sm.btn-shadow.mr-2(href='#')
                                                            i.bx.bxl-facebook
                                                        |
                                                        a.btn.btn-light-twitter.btn-icon.btn-circle.btn-sm.btn-shadow.mr-2(href='#')
                                                            i.bx.bxl-twitter
                                                        |
                                                        a.btn.btn-light-instagram.btn-icon.btn-circle.btn-sm.btn-shadow.mr-2(href='#')
                                                            i.bx.bxl-instagram
                                    |
                                    .p-3.chat-header
                                        .d-flex
                                            .w-100.d-flex.pl-0.align-items-center
                                                img.user-detail-trigger.rounded-circle.shadow.avatar-sm.mr-3.chat-profile-picture(src=`${userLoged.avatar}`)
                                                a.ml-3 #{userLoged.full_name}
                                            |
                                            .flex-shrink-0.margin-auto
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        rect(x='2', y='7', width='20', height='15', rx='2', ry='2')
                                                        |
                                                        polyline(points='17 2 12 7 7 2')
                                                |
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        path(d='M12 20h9')
                                                        |
                                                        path(d='M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z')
                                                |
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        circle(cx='12', cy='12', r='1')
                                                        |
                                                        circle(cx='12', cy='5', r='1')
                                                        |
                                                        circle(cx='12', cy='19', r='1')
                                    |
                                    .chat-search.pl-3.pr-3
                                        .input-group
                                            input.form-control(type='text', placeholder='Search a conversation')
                                            |
                                            .input-group-append.prepend-white
                                                span.input-group-text.pl-2.pr-2
                                                    i.fs-17.las.la-search.drop-shadow
                                    |
                                    .archived-messages.d-flex.p-3
                                        .w-100
                                            .d-flex.pl-0
                                                .d-flex.flex-row.mt-1
                                                    span.margin-auto.mr-2
                                                        .svg15.archived
                                                    |
                                                    p.margin-auto.fw-400.text-dark-75
                                                        | Archived
                                                |
                                                div
                                    |
                                    .chat-user-panel
                                        .pb-3.d-flex.flex-column.navigation-mobile.pagination-scrool.chat-user-scroll(style="max-height: 400px;")
                                            //- list conversation
                                            each conversation in conversations
                                                .chat-item.d-flex.pl-3.pr-0.pt-3.pb-3(class="conversation" data-id=conversation._id)
                                                    .w-100
                                                        .d-flex.pl-0
                                                            img.rounded-circle.shadow.avatar-sm.mr-3(src=`${conversation.user[1].avatar}`)
                                                            |
                                                            div
                                                                p.margin-auto.fw-400.text-dark-75
                                                                    | #{conversation.user[1].full_name}
                                                                .d-flex.flex-row.mt-1
                                                                    span
                                                                        .svg15.double-check
                                                                    |
                                                                    //- each user in conversation.user
                                                                    span.message-shortcut.margin-auto.text-muted.fs-13.ml-1.mr-4
                                                                        | I&apos;m
                                                                        | #{conversation.user[1].full_name}
                                                    |
                                                    .flex-shrink-0.margin-auto.pl-2.pr-3
                                                        .d-flex.flex-column
                                                            p.text-muted.text-right.fs-13.mb-2
                                                                | 08:55
                                                            |
                                                            .text-right.d-flex.flex-row
                                                                span
                                                                    .svg18.pinned
                                                                |
                                                                i.text-muted.la.la-angle-down.ml-1.fs-15
                                                |
                                            
                            |
                            
                            .col-md-8.col-12.card-stacked(href='#', style="display: none; ", id='openConversation')
                                .card.shadow-line.mb-3.chat.chat-panel
                                    .p-3.chat-header
                                        .d-flex
                                            .w-100.d-flex.pl-0
                                                img.rounded-circle.shadow.avatar-sm.mr-3.chat-profile-picture(id='avatar')
                                                |
                                                .mr-3
                                                    a(href='!#')
                                                        p.fw-400.mb-0.text-dark-75(id='username')
                                                            | username
                                                    |
                                                    a(href='!#')
                                                        p.fw-400.mb-0.text-dark-75(style="display: block; ", id='idUserSelected')
                                                            | id
                                                    |
                                                    p.sub-caption.text-muted.text-small.mb-0
                                                        i.la.la-clock.mr-1
                                                        | last seen today at
                                                        | 09:16 PM
                                            |
                                            //- top icon
                                            .flex-shrink-0.margin-auto
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        circle(cx='12', cy='12', r='10')
                                                        |
                                                        line(x1='12', y1='16', x2='12', y2='12')
                                                        |
                                                        line(x1='12', y1='8', x2='12.01', y2='8')
                                                |
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        polygon(points='23 7 16 12 23 17 23 7')
                                                        |
                                                        rect(x='1', y='5', width='15', height='14', rx='2', ry='2')
                                                |
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        circle(cx='11', cy='11', r='8')
                                                        |
                                                        line(x1='21', y1='21', x2='16.65', y2='16.65')
                                                |
                                                a.btn.btn-sm.btn-icon.btn-light.active.text-dark.ml-2(href='#')
                                                    svg.feather(viewBox='0 0 24 24', width='15', height='15', stroke='currentColor', stroke-width='2', fill='none', stroke-linecap='round', stroke-linejoin='round')
                                                        circle(cx='12', cy='12', r='1')
                                                        |
                                                        circle(cx='12', cy='5', r='1')
                                                        |
                                                        circle(cx='12', cy='19', r='1')
                                    |
                                    //- 
                                    
                                    //- content message
                                    .d-flex.flex-row.mb-3.navigation-mobile.scrollable-chat-panel.chat-panel-scroll(id='areaMessage')
                                        .w-100.p-3(style="height: 450px;")
                                            .svg36.loader-animate3.horizontal-margin-auto.mb-2
                                            |
                                            .text-center.letter-space.drop-shadow.text-uppercase.fs-12.w-100.mb-3
                                                | Today
                                            |
                                            //- CHAT
                                            - for (var i = 0; i < conversations.length; ++i) {
                                                - var conversation = conversations[i]
                                                //- - var idUserSelected = $("p#idUserSelected").text()
                                                - var idUserSelected = "65355a1058bae97dfefa0cc3"
                                                //- - var idUserSelected = document.getElementById('idUserSelected').textContent;
                                                //- - var idUserSelected = data("p#idUserSelected").text()
                                                if conversation.user[0]._id + "" === userLoged.id + ""
                                                    each message in dataMessage
                                                        //- p.mb-0.mr-3.pr-4 #{message.message}
                                                        //- p.mb-0.mr-3.pr-4 #{message.conversation}
                                                        //- p.mb-0.mr-3.pr-4 #{message.senderId}
                                                        //- p.mb-0.mr-3.pr-4 #{message.receiverId}
                                                        //- p.mb-0.mr-3.pr-4 #{message.timestamp}
                                                        if message.senderId === idUserSelected || message.receiverId === idUserSelected
                                                            if message.senderId != userLoged._id
                                                                .left-chat-message.fs-13.mb-2
                                                                    p.mb-0.mr-3.pr-4 #{message.message}
                                                                    |
                                                                    .message-options
                                                                        .message-time #{message.timestamp.slice(message.timestamp.length-8, message.timestamp.length-3)}
                                                                        |
                                                                        .message-arrow
                                                                            i.text-muted.la.la-angle-down.fs-17
                                                                |
                                                            else
                                                                .d-flex.flex-row-reverse.mb-2
                                                                    .right-chat-message.fs-13.mb-2
                                                                        .mb-0.mr-3.pr-4
                                                                            .d-flex.flex-row
                                                                                .pr-2 #{message.message}
                                                                                |
                                                                                .pr-4
                                                                        |
                                                                        .message-options.dark
                                                                            .message-time
                                                                                .d-flex.flex-row
                                                                                    .mr-2 #{message.timestamp.slice(message.timestamp.length-8, message.timestamp.length-3)}
                                                                                    |
                                                                                    .svg15.double-check
                                                                            |
                                                                            .message-arrow
                                                                                i.text-muted.la.la-angle-down.fs-17
                                                                |
                                                    - break
                                            - }
                                    |
                                    .chat-search.pl-3.pr-3
                                        .input-group
                                            input.form-control(type='text', placeholder='Write a message', id='textMessage')
                                            |
                                            .input-group-append.prepend-white
                                                span.input-group-text.pl-2.pr-2
                                                    i.chat-upload-trigger.fs-19.bi.bi-file-earmark-plus.ml-2.mr-2
                                                    |
                                                    i.fs-19.bi.bi-emoji-smile.ml-2.mr-2
                                                    |
                                                    i.fs-19.bi.bi-camera.ml-2.mr-2
                                                    |
                                                    i.fs-19.bi.bi-cursor.ml-2.mr-2(id='btnSend')
                                                    |
                                                    .chat-upload
                                                        .d-flex.flex-column
                                                            .p-2
                                                                button.btn.btn-secondary.btn-md.btn-icon.btn-circle.btn-blushing(type='button')
                                                                    i.fs-15.bi.bi-camera
                                                            |
                                                            .p-2
                                                                button.btn.btn-success.btn-md.btn-icon.btn-circle.btn-blushing(type='button')
                                                                    i.fs-15.bi.bi-file-earmark-plus
                                                            |
                                                            .p-2
                                                                button.btn.btn-warning.btn-md.btn-icon.btn-circle.btn-blushing(type='button')
                                                                    i.fs-15.bi.bi-person
                                                            |
                                                            .p-2
                                                                button.btn.btn-danger.btn-md.btn-icon.btn-circle.btn-blushing(type='button')
                                                                    i.fs-15.bi.bi-card-image
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js`)
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js`)
    script(src='https://cdn.socket.io/4.3.2/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/js/chat.js') 
    script.
        (function ($) {
            let myId = $("p#idUserSelected").text()
            console.log(myId)
        })(jQuery);
    script.
        (function ($) {
            "use strict";
            $('.scrollable-chat-panel').perfectScrollbar();
            var position = $(".chat-search").last().position().top;
            $('.scrollable-chat-panel').scrollTop(position);
            $('.scrollable-chat-panel').perfectScrollbar('update');
            $('.pagination-scrool').perfectScrollbar();

            $('.chat-upload-trigger').on('click', function (e) {
                $(this).parent().find('.chat-upload').toggleClass("active");
            });
            $('.user-detail-trigger').on('click', function (e) {
                $(this).closest('.chat').find('.chat-user-detail').toggleClass("active");
            });
            $('.user-undetail-trigger').on('click', function (e) {
                $(this).closest('.chat').find('.chat-user-detail').toggleClass("active");
            });
        })(jQuery);